@model CinemaManager.Models.Show

@{
    ViewData["Title"] = "Details";
}

<h1>Book a ticket</h1>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hall.Nr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hall.Nr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hall.Rows)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hall.Rows)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hall.Columns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hall.Columns)
        </dd>

    </dl>
</div>
<div asp-validation-summary="ModelOnly" class="text-warning"></div>
@{
    List<Reservation> notConfirmed = (List<Reservation>)TempData["notConfirmed"];
    List<Reservation> confirmed = (List<Reservation>)TempData["confirmed"];
    for (int i = 0; i < Model.Hall.Rows; i++)
    {
        for (int j = 0; j < Model.Hall.Columns; j++)
        {
            //jesli drukujesz button ktory jest tymczasowo zarezerwowany
            //if ((notConfirmed != null && notConfirmed.Count > 0 && notConfirmed.Any(q => q.SeatRow == i && q.SeatColumn == j)) ||
            //    (TempData["row"] != null && TempData["column"] != null && i == (int)TempData["row"] && j == (int)TempData["column"]))
            if(notConfirmed.Any(x=>x.SeatColumn==j && x.SeatRow==i) || 
                            ((TempData["row"] != null && TempData["column"] != null) && 
                            (i == (int)TempData["row"] && j == (int)TempData["column"])))
            {
                <a class="btn btn-warning disabled" role="button" style="width:40px">@(i * Model.Hall.Rows + j + 1)</a>
            }

            //jesli drukujesz button ktory jest zarezerwowany
            else if (confirmed != null && confirmed.Count > 0 && confirmed.Any(q => q.SeatRow == i && q.SeatColumn == j))
            {
                <a asp-route-row="@i" asp-route-column="@j" class="btn btn-danger disabled" role="button" style="width:40px" asp-action="Details">@(i * Model.Hall.Rows + j + 1)</a>
            }

            //drukuje zwykly button
            else
            {
                <a asp-route-row="@i" asp-route-column="@j" class="btn btn-outline-primary" role="button" style="width:40px" asp-action="Details">@(i * Model.Hall.Rows + j + 1)</a>
            }
            
        }
        <br />
    }
}
<div>
    @{
        int resId = (int)TempData["reservationId"];
        if (resId != 0)
        {
            <a asp-route-confirmId="@resId">Confirm |</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
